In [1]:
import numpy as np

In [2]:
list_1 = [1,2,10]
print(list_1*3)

[1, 2, 10, 1, 2, 10, 1, 2, 10]

In [7]:
list_1

[1, 2, 10]

In [5]:
arr = np.array(list_1)
print(arr*3)

[ 3  6 30]

In [6]:
arr

array([ 1,  2, 10])

In [4]:
print(arr+100)

[101 102 110]

In [8]:
data=[[1,2,3],[4,5,6],[7,8,9]]

In [9]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
type(data)

list

In [13]:
arr=np.array(data)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
type(arr)

numpy.ndarray

In [16]:
arr.dtype #원소의 단위

dtype('int32')

In [18]:
arr.shape #구조 (몇행 몇열인지)

(3, 3)

In [20]:
arr[2,1],arr[1][2]

(8, 6)

In [25]:
arr[:2,:]

array([[1, 2, 3],
       [4, 5, 6]])

In [26]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [27]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [28]:
x=range(5)
print(type(x));x

<class 'range'>

range(0, 5)

In [29]:
y=np.arange(5)
print(type(y));y

<class 'numpy.ndarray'>

array([0, 1, 2, 3, 4])

In [37]:
data = np.arange(12).reshape(4,3)
data

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [38]:
data.mean()

5.5

In [34]:
data>5

array([[False, False, False],
       [False, False, False],
       [ True,  True,  True],
       [ True,  True,  True]])

In [36]:
data[data>5]=5
data

array([[0, 1, 2],
       [3, 4, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [40]:
x=np.array([1,2,3,4,5,6])
x

array([1, 2, 3, 4, 5, 6])

In [41]:
(x>4).sum()  #4보다 큰갯수

2

In [42]:
data.mean(axis=1)

array([ 1.,  4.,  7., 10.])